#portfolio-app {
    padding: 100px 0;
}

#portfolio-app p {
    font-size: 25px;
    margin-top: 50px;
    text-align: justify;
}

#portfolio-app a {
    text-decoration: none;
}

#portfolio-app h1 {
    color: #08417a;
}

#portfolio-app .row {
    padding: 100px 0;
}

.img-profile {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    background-size: cover;
    border: 6px solid #7e92e8;
    background-repeat: no-repeat;
}

.fa-circle {
    font-size: 30px;
    color: #3ac15c;
    margin-top: 150px;
    position: absolute;
    margin-left: 150px;
}

.dev, .ops {
    height: 100%;
    padding: 40px;
    margin: 0 50px;
    background-color: white;
}

.stack-content {
    padding: 100px 0;
    background-color: #f2f2ef;
}

.stack {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stack-item {
    width: 250px;
    height: 100px;
    padding: 0 20px;
    background-color: white;
}

.stack-item img {
    width: 100%;
}

.project-item {
    margin: 20px;
    height: 100%;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
}

.project-item h1 {
    text-decoration: underline;
}

.project-item h2 {
    margin: 40px 0;
}

.link-github {
    padding: 0 30px;
}

.btn-github {
    width: 100%;
    font-size: 30px;
    margin-bottom: 50px;
}

.skills-content {
    padding: 100px 0;
}

.skills {
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-block-item {
    width: fit-content;
    background-color: rgba(172, 211, 237, 0.2);
}

.head-item {
    color: #fff;
    padding: 10px 30px;
    text-align: center;
    border-bottom: 1px solid #08417a;
    background-color: rgb(8, 87, 176);
}

.body-item {
    padding: 20px;
}

.skill-item {
    width: 200px;
    height: 80px;
    padding: 0 20px;
    margin: 10px auto;
    position: relative;
    border-radius: 15px;
    background-color: #fdfeff;
    border-top: 6px solid rgb(8, 87, 176);
    border-bottom: 6px solid rgb(8, 87, 176);
}

.skill-item img {
    width: 100%;
}

@media (max-width: 1400px) {
    #portfolio-app .row > div {
        width: 100%;
        margin-top: 150px;
    }
}
